.container {
  display: flex;
  flex-direction: column;
  width: 1440px;
  height: 1050px;
  background-color: #f6fafd;
  font-family: 'Catamaran', sans-serif;
  border: solid 0.7px #e9edf0;
  margin-bottom: 20px;
}

.bottom {
  display: flex;
  width: 100%;
}

*{
  box-sizing: border-box;
}

/* @font-face {
  font-family: AvenirNext;
  src: local(AvenirNext-Regular),
    url(/path/to/AvenirNext-Regular.woff2) format("woff2"),
    url(/path/to/AvenirNext-Regular.woff) format("woff"),
    url(/path/to/AvenirNext-Regular.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: IBMPlexSans;
  src: local(IBMPlexSans-Medium),
    url(/path/to/IBMPlexSans-Medium.woff2) format("woff2"),
    url(/path/to/IBMPlexSans-Medium.woff) format("woff"),
    url(/path/to/IBMPlexSans-Medium.ttf) format("truetype");
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
}

.Text-Style-2 {
  font-family: IBMPlexSans;
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
}

.Text-Style {
  font-family: AvenirNext;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
} */

/* 
      .custom-button {
        min-width: 165px;
        width: auto;
        height: 50px;
        letter-spacing: 0.5px;
        line-height: 50px;
        padding: 0 35px 0 35px;
        font-size: 15px;
        background-color: black;
        color: white;
        text-transform: uppercase;
        font-family: "Open Sans Condensed";
        font-weight: bolder;
        border: none;
        cursor: pointer;
      
        &:hover {
          background-color: white;
          color: black;
          border: 1px solid black;
        }
    
        &.google-sign-in {
          background-color: #4285f4;
          color: white;
        }
    
        &:hover {
          background-color: #357ae8;
          border: none;
        }
      }
       */
